{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}